@font-face {
  font-family: Calligraffitti;
  src: url("//fonts.googleapis.com/css?family=Calligraffitti");
}

body {
  background-color: rgb(81, 78, 78);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  display: flex;
  font-family: Calligraffitti;
  font-size: 25px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #36307e;
}

.sketch-pad {
  background-color: rgb(87, 47, 207);
  border-radius: 9px;
  margin: 5px 0px;
  padding: 0px 50px;
  box-shadow: inset 4px 10px 10px 4px #36307e;
}

.container {
  display: grid;
  width: 700px;
  height: 400px;
  background-color: #e0e0e0;
  border: #acacac solid;
  margin: 20px 30px;
}

.container:hover {
  cursor: pointer;
}

.cell {
  border: #acacacfc solid thin;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.header div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.title {
  font-size: 25px;
  font-weight: 900;
  font-family: Calligraffitti;
}

.txtL {
  margin-right: auto;
  font-family: Calligraffitti;
  font-weight: 700;
}

.txtR {
  margin-left: auto;
  font-family: Calligraffitti;
  font-weight: 700;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btns div button {
  font-family: Calligraffitti;
  font-weight: 700;
  font-size: 25px;
  background-color: rgb(153, 0, 255);
  border: 3px solid rgb(107, 5, 203);
  border-radius: 50%;
  padding: 30px;
  margin: 0px 10px;
}

.btns div button:hover {
  background-color: rgb(107, 5, 203);
  border-color: rgb(99, 5, 186);
}

.btns div button:active {
  background-color: rgb(85, 4, 161);
  border-color: rgb(77, 2, 147);
}

.pixel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.pixel button {
  margin-top: 5px;
  font-weight: 700;
  font-size: 25px;
  background-color: rgb(110, 4, 136);
  font-family: Calligraffitti;
  border: 3px solid rgb(130, 5, 203);
  border-radius: 9px;
}

.input {
  border-radius: 9px;
}
