@font-face {
  font-family: Calligraffitti;
  src: url("//fonts.googleapis.com/css?family=Calligraffitti");
}

body {
  background-color: rgb(81, 78, 78);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch-pad {
  background-color: rgb(207, 47, 47);
  border-radius: 9px;
  margin: 10px 0px;
  padding: 0px 50px;
  box-shadow: inset 4px 10px 10px 4px #7e3030;
}

.container {
  display: grid;
  width: 700px;
  height: 400px;
  background-color: #e0e0e0;
  border: #acacac solid;
  margin: 20px 30px;
}

.container:hover {
  cursor: pointer;
}

.cell {
  border: #acacacfc solid thin;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.header div {
  margin: 10px 20px;
}

.title {
  font-size: 25px;
  font-weight: 900;
  font-family: Calligraffitti;
}

.txtL {
  margin-right: auto;
  font-family: Calligraffitti;
  font-weight: 700;
}

.txtR {
  margin-left: auto;
  font-family: Calligraffitti;
  font-weight: 700;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btns div button {
  font-family: Calligraffitti;
  font-weight: 700;
  background-color: yellow;
  border: 3px solid rgb(203, 203, 5);
  border-radius: 50%;
  padding: 30px;
  margin: 0px 10px;
}

.pixel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.pixel button {
  margin: 5px 0px;
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(136, 136, 4);
  font-family: Calligraffitti;
  border: 3px solid rgb(203, 203, 5);
  border-radius: 9px;
}
